{% extends "base.html" %}

{% block content %}
<div class="clay-card auth-form">
    <div class="iso-flair" style="bottom: -20px; left: -20px; background: var(--primary);"></div>
    <h2>New Password 🔑</h2>
    <p class="text-light handwritten">Setup your new secure password</p>
    
    <form method="POST">
        <input type="password" name="password" class="clay-input" placeholder="New Password" required style="margin-bottom: 20px;">
        
        <button type="submit" class="clay-button primary" style="width: 100%;">Update Password</button>
    </form>
</div>
{% endblock %}
